*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:linear-gradient(#f4f0ff,#dacdff)

}
.chatbot-popup{
    width: 420px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);
}
.chatbot-popup .chatbot-header{
    display: flex;
    padding: 15px 22px;
    align-items: center;
    justify-content: space-between;
    background: #6d4fc2;

}
.chatbot-header .header-info{
    display: flex;
    gap: 10px;
    align-items: center;
}
.header-info svg{
    width: 35px;
    height: 35px;
    padding: 6px;
    flex-shrink: 0;
    fill:#6d4fc2;
    background-color: #fff;
    border-radius: 50%;

}
.header-info .logo-text{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 600;
}

.chatbot-header button{
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    transition: 0.2s ease;
}
.chatbot-header button img{
    width: 30px;
    height: 30px;
}
.chatbot-header button:hover{
    background-color: #5d4fc2;
}
